@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";

:root {
     --color-green: rgb(62, 218, 62);
     --color-purple: #583fa8;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
  }
  body {
      background: rgb(20, 5, 29);
      color: white;
      font-family: 'Roboto', sans-serif;
  }
  header {
      padding: 20px;
      border-bottom: 1px solid rgb(39, 226, 226);
      background: rgba(31, 1, 49, 0.5);
  }
  .links {
      text-align: center;
  }
  .links a {
      color: white;
      font-size: 14px;
      line-height: 24px; 
      margin: 0 20px;
      text-decoration: none;
  }
  .links a:hover {
      color: var(--color-green);
      transition: color 200ms;
  }

  #wrapper {
      text-align: center;
      margin-top: 100px;
  }

  #wrapper img {
    border-radius: 50%;
    border: 3px solid rgb(39, 226, 226);
    margin-bottom: 25px;
    height: 140px;
  }

  #wrapper h1 {
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
  }

  #wrapper h2 {
      font-size: 14px;
      line-height: 28px;
      font-weight: normal;
      margin-top: 5px;
      opacity: 0.8;
  }

  #wrapper p {
      max-width: 389px;
      margin: 20px auto;
      font-size: 15px;
      line-height: 25px;
  }

  #wrapper p a{
      color: var(--color-green);
  }

  #links-footer a{
      border-bottom: 2px solid var(--color-green);
  } 


  /*===CARDS===*/

  .cards {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 25px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      padding-bottom: 80px;
      cursor: pointer;
  }

  .card {
      background-color: var(--color-purple);
      border-radius: 15px;
      display: grid;
  }

  .card__image-container img{
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 5px 0 rgba(17, 17, 17, 0.2);
  }


  
  .card_content,
  .card_info {
     padding: 20px; 
  }

  .card_info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
  }

  .card_price {
    background-color: var(--color-purple);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
  } 

  /*--MODAL--*/

  .modal-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0; 
      opacity: 0;
      visibility: hidden;
  }

  .modal {
      background-color: rgb(128, 126, 126);
      width: 90%;
      height: 90%;
      margin: 5vh auto;
      position: relative;
  }

  .modal .close-modal {
      color: black;
      position: absolute;
      right: 8px;
      top: 6px;
      cursor: pointer; 
      
  }

  
  /*--MODAL.Active--*/
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/*----FEATURED----*/
.featured-wrapper.card__image-container {
    position: relative;
}

.featured {
    position: absolute;
    background: rgb(30, 194, 131);
    padding: 5px;
    right: 5px;
    bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 0 rgba(17, 17, 17, 0.2);
}
